<ng-template #content let-c="close" let-d="dismiss" size="lg">
  <div class="modal-header">
    <h3 class="modal-title">Invite teachers</h3>
    <h3><span class="badge badge-secondary badge-pill text-center">{{emails.length}}</span></h3>
  </div>
  <div class="modal-body">
    <form class="card mb-3 border-0">
      <div class="input-group">
        <input #invitationLink class="form-control" placeholder="Invitation link" type="text" [value]="invitation.link">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary" [ngxClipboard]="invitationLink">Copy</button>
        </div>
      </div>
    </form>

    <span class="mb-5">Invite teachers to course by sending them an email.</span>
    <tag-input [(ngModel)]='emails' [addOnPaste]="true" [blinkIfDupe]="true" [allowDupes]="false"
               [identifyBy]="'local'" [displayBy]="'raw'" [maxItems]='20' [editable]="true"
               [separatorKeyCodes]="[32, 188]" [validators]="emailValidators" [errorMessages]="emailValidatorsMessages"
               placeholder="Insert new email" secondaryPlaceholder="Insert new email" theme='minimal'>
      <tag-input-dropdown [focusFirstElement]="true" [autocompleteItems]="autocompleteEmails"
                          [zIndex]="99999"></tag-input-dropdown>
    </tag-input>

    <form class="card border-0 float-right form-group mt-5">
      <div class="input-group buttons-group">
        <button class="btn btn-primary float-right" (click)="sendInvitation()" disabled>Send</button>
        <button class="btn btn-secondary float-right" (click)="cancel(); $event.preventDefault();">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
