h1 {
  color: white;
  margin-bottom: 8px;
  line-height: 1.2
}
.tab-title{
  color: black;
}
:host ::ng-deep .tabset-course a.nav-link {
  background-color: gray;
  color: black;
}

:host ::ng-deep .tabset-course a.nav-link.active {
  background-color: white;
  color: black;
}
.versions-dropdown{
  width: 110px;
  text-align: right;
}
.note-image {
  width: 80%;
  height: 80%;
}
.people-button{
  width: 130px;
}
.lesson-header {
  h3 {
    display: inline-block;
  }
}

.lesson-list {
  padding: 30px 15px 0 15px;
  margin: 0;
}

.lesson-item {
  background-color: #f8f8f8;
  margin-bottom: 15px;

  &:hover {
    background-color: #fff;
  }

  a {
    color: #303030;
    &:hover {
      text-decoration: none;
      color: #000;
    }
  }

  h4 {
    margin-bottom: 0;
  }
}
