<div *ngIf="route.children.length === 0" class="content-container">
  <div class="row">
    <div class="col-md-10">
      <h2>Course - {{course?.title}}</h2>

      <div class="line"></div>
      <br>

      <h3>Description</h3>
      <p>{{course?.description}}</p>
    </div>

    <div class="col-md-2">
      <button class="btn btn-secondary float-right" (click)="routeToEdit()">Edit course</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="lesson-container">
        <div class="lesson-header">
          <h3>Lessons</h3>
          <button (click)="addLesson()" class="btn btn-primary float-md-right" role="button">Add new lesson</button>
        </div>
        <div class="lessons-body">
          <ul class="lesson-list">
            <li class="lesson-item card" *ngFor="let lesson of lessons; let i = index">
              <a [routerLink]="['lessons/', lesson.id]" class="card-body">
                <h4>Lesson {{i+1}}: {{lesson.title}}</h4>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-secondary back-btn float-right" (click)="back($event)">Back</button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
