<div class="content-container">
  <h2>Edit course</h2>

  <div class="line"></div>
  <br>

  <form [formGroup]="formGroup" (ngSubmit)="saveCourse(formGroup.value)">
    <div class="form-group col-md-12">
      <label for="course-title">Course title</label>
      <input formControlName="title" type="text" class="form-control" id="course-title" placeholder="Enter title">
    </div>
    <div class="form-group col-md-12">
      <label for="course-description">Description</label>
      <textarea formControlName="description" type="text" class="form-control" id="course-description"
                placeholder="Enter description"></textarea>
    </div>
    <div class="form-group col-md-3">
      <label for="course-start-date">Start date</label>
      <div class="input-group">
        <input id="course-start-date" class="form-control" placeholder="yyyy-mm-dd"
               name="dp" formControlName="startDate" ngbDatepicker #d1="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
            <img src="assets/img/calendar.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="course-end-date">End date</label>
      <div class="input-group">
        <input id="course-end-date" class="form-control" placeholder="yyyy-mm-dd"
               name="dp" formControlName="endDate" ngbDatepicker #d2="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
            <img src="assets/img/calendar.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Save" [disabled]="!formGroup.valid">
    <button class="btn btn-secondary back-btn" (click)="back($event)">Back</button>

  </form>
</div>
