.buttons-group {
  display: block;
  text-align: center;
  width: auto;
}

button {
  display: block;
  margin: 10px;
}

.form-control {
  height: 35px;
  margin-top: 11px;
}

.textarea-height {
  height: 120px;
}

.btn-primary {
  display: inline;
}

.dots:after {
  content: '\2807';
  cursor: pointer;
}

.dropdown-toggle::after {
  border: 0;
}
