<div class="col-md-12">
  <h1 (click)="navigateToCourse()">{{course?.title}}</h1>
</div>

<div *ngIf="route.children.length === 0" class="content-container">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-12">
          <h2>Lesson - {{lesson?.title}}
            <button routerLink="edit-lesson" class="btn btn-secondary float-right" role="button">Edit lesson</button>
          </h2>

          <div class="line"></div>
          <br>

          <h4>Description</h4>
          <p>{{lesson?.description}}</p>
          <h4>Weight: {{lesson?.weight}}</h4>
          <h4>Max points: {{pointsForLesson}}</h4>
        </div>

        <div class="col-12">
          <h3>Tasks
            <button class="btn btn-primary float-right" (click)="addTask()">Add task</button>
          </h3>

          <div *ngFor="let task of tasks;let i = index">
            <button class="btn task-button text-left" (click)="changeVisibilityForSubmissions(i)">
              Task: {{task.title}}
            </button>
            <div *ngIf="tasksVisibility[i]">
              <div class="row">
                <div class="col-10">
                  <p>Description</p>
                  <p>{{task.description}}</p>
                  <p>Max points for task: {{task.maxPoints}}</p>
                </div>

                <div class="col-2">
                  <button class="btn" (click)="editTask(task)">Edit task</button>
                  <button class="btn">Notes</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-2">
      <h4 style="margin-top: 60px;">Notes</h4>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <button class="btn btn-secondary" routerLink="/courses/{{course?.id}}/student/lessons/{{lesson?.id}}">Switch to
        student
      </button>
    </div>
  </div>

</div>


<router-outlet></router-outlet>
<cod-add-task-modal></cod-add-task-modal>
<cod-edit-task-modal></cod-edit-task-modal>
