<div class="col-md-12">
  <h4 (click)="navigateToCourseEdition()" class="navigation-header">{{courseEdition?.title}}</h4>
</div>

<div *ngIf="route.children.length === 0" class="content-container">
  <div class="row">
    <div class="col-12">
      <h2>{{lesson?.title}}'s Submission</h2>
      <h4>Submission time: {{lesson?.title}}</h4>

      <div class="line"></div>
      <br>

      <p>Due date: {{courseEditionLesson?.endDate | date: 'dd-MM-yyyy'}} </p>

      <div *ngFor="let file of filesContent" >
        {{file.path}}
        <br>
        {{file.content}}
        <br>
      </div>

    </div>
  </div>
</div>


<router-outlet></router-outlet>
