<div class="col-md-12">
  <h4 (click)="navigateToCourseEdition()" class="navigation-header">{{courseEdition?.title}}</h4>
</div>

<div *ngIf="route.children.length === 0" class="content-container">
  <div class="row">
    <div class="col-12">
      <h2>{{fullName}}'s Submission</h2>
      <td>Submission time: {{submission?.submissionTime | date: 'dd MMMM yyyy'}}</td>

      <div class="line"></div>
      <br>
      Submission files:
      <div class="code-margin" *ngFor="let file of filesContent">
        <div class="float-left">{{file.path}}</div>
        <br/>
      </div>

      <div *ngFor="let file of filesContent; let i = index">
        <button class="btn file-button" (click)="changeVisibilityForFile(i)">
          <div class="float-left">{{file.path}}</div>
          <div *ngIf="filesVisibility[i]">
            <img src='assets/img/downArrow.png' class="arrow-image"/>
          </div>
          <div *ngIf="!filesVisibility[i]">
            <img src='assets/img/downArrow.png' class="arrow-image rotate"/>
          </div>
        </button>
        <div *ngIf="filesVisibility[i]">
          <div class="col-12">
            <div class="row code-margin">
              <pre><code>{{file.content}}</code></pre>
            </div>
            <br>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<router-outlet></router-outlet>
