<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="position: center">Log in to Coddlers</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="signIn(formGroup.value)">
      <div class="form-group">
        <label for="email">Email address</label>
        <input formControlName="email" type="text" class="form-control"
               id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control"
               id="password" placeholder="Enter password">
      </div>
      <div class="alert alert-danger" *ngIf="errorMsg != ''">{{ errorMsg }}</div>

      <input type="submit" class="btn btn-primary" value="Login" [disabled]="!formGroup.valid">
    </form>
  </div>
</ng-template>
