<div *ngIf="route.children.length === 0" class="content-container">
  <div class="row">
    <div class="col-md-10">
      <h2>Course - {{course?.title}}</h2>

      <div class="line"></div>
      <br>

      <p>{{course?.startDate | date: 'dd-MM-yyyy'}} - {{course?.endDate | date: 'dd-MM-yyyy'}}</p>
      <h3>Description</h3>
      <p>{{course?.description}}</p>
    </div>

    <div class="col-md-2">
      <button class="btn btn-secondary float-right" (click)="routeToEdit()">Edit course</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="assignments-container">
        <div class="assignments-header">
          <h3>Assignments</h3>
          <button routerLink="add-lesson" class="btn btn-primary float-md-right" role="button">Add new lesson</button>
        </div>
        <div class="assignments-body">
          <ul class="assignments-list">
            <li class="lesson-item card" *ngFor="let lesson of assignments">
              <a [routerLink]="['assignments/', lesson.id]" class="card-body">
                <h4>{{lesson.title}}</h4>
                <span class="start-date">Start date: {{lesson.startDate | date: 'dd-MM-yyyy'}}</span> -
                <span class="start-date">Due date: {{lesson.dueDate | date: 'dd-MM-yyyy'}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-secondary back-btn float-right" (click)="back($event)">Back</button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
