<div *ngIf="route.children.length === 0" class="content-container">
  <div class="row">
    <div class="col-md-10">
      <h2>Course - {{course?.title}}</h2>

      <div class="line"></div>
      <br>

      <span>{{course?.startDate}} - {{course?.endDate}}</span>
      <h3>Description</h3>
      <p>{{course?.description}}</p>
    </div>

    <div class="col-md-2">
      <button class="btn btn-secondary float-right" (click)="routeToEdit()">Edit course</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="assignments-container">
        <div class="assignments-header">
          <h3>Assignments</h3>
          <button routerLink="add-assignment" class="btn btn-primary float-md-right" role="button">Add new assignment</button>
        </div>
        <div class="assignments-body">
          <ul class="assignments-list">
            <li class="assignment-item card" *ngFor="let assignment of assignments">
              <a [routerLink]="['assignments/', assignment.id]" class="card-body">
                <h4>{{assignment.title}}</h4>
                <span class="start-date">Start date: {{assignment.startDate}}</span>
                <span class="start-date">Due date: {{assignment.dueDate}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-secondary back-btn float-right" (click)="back($event)">Back</button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
