<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit lesson title</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="save(formGroup.value)">
      <div class="form-group">
        <label for="lesson-start-date">Start date</label>
        <div class="input-group">
          <input id="lesson-start-date" class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" formControlName="startDate" ngbDatepicker #d1="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
              <img src="assets/img/calendar.svg"/>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lesson-end-date">End date</label>
        <div class="input-group">
          <input id="lesson-end-date" class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" formControlName="endDate" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
              <img src="assets/img/calendar.svg"/>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lesson-length">Lesson time in days</label>
        <div class="input-group">
          <input formControlName="lessonLength" type="number" class="form-control" id="lesson-length">
        </div>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="c('closed'); $event.preventDefault();">Cancel</button>
      <input type="submit" class="btn btn-primary" value="Save" [disabled]="!formGroup.valid">
    </form>
  </div>
</ng-template>
