<div *ngIf="route.children.length === 0" class="content-container">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-12">
          <h2>Lesson - {{lesson?.title}}</h2>
          <h4>{{course?.title}}</h4>

          <div class="line"></div>
          <br>

          <p>Due date: {{lesson?.dueDate | date: 'dd-MM-yyyy'}} </p>

          <h4>Description</h4>
          <p>{{lesson?.description}}</p>
        </div>

        <div class="col-12">
          <h4>Tasks</h4>

          <table class="table tasks-table">
            <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Task name</th>
              <th scope="col">Max points</th>
              <th scope="col">Submissions</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks; let i = index" [attr.data-index]="i">
              <td>{{i+1}}</td>
              <td>{{task.title}}</td>
              <td>{{task.maxPoints}}</td>
              <td>-</td>
              <td>
                <button class="btn btn-secondary float-right" [routerLink]="['/student', 'task', task.id]">Show task</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-12">
          <h4>Clone repository</h4>
          <div class="repo-url">
            <code>{{repoUrl}}</code>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-secondary" (click)="back($event)">Switch to teacher</button>
    </div>
  </div>

</div>


<router-outlet></router-outlet>
