<div class="col-md-12">
  <h1 (click)="navigateToCourseEdition()" class="navigation-header">{{course?.title}}</h1>
  <h4 (click)="navigateToCourseEdition()" class="navigation-header">{{courseEdition?.title}}</h4>
</div>

<div *ngIf="route.children.length === 0" class="content-container">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-12">
          <h2>Lesson: {{lesson?.title}}</h2>

          <div class="line"></div>
          <br>

          <p>Due date: {{courseEditionLesson?.endDate | date: 'dd-MM-yyyy'}} </p>

          <h5>Description</h5>
          <p>{{lesson?.description}}</p>
          Weight: {{lesson?.weight}}
          <br>
          Max points: {{countPointsForLesson()}}
        </div>
        <br>
        <div class="col-12">
          <br>
          <h4>Tasks</h4>

          <div *ngFor="let task of tasks;let i = index">
            <button class="btn task-button" (click)="changeVisibilityForSubmissions(i)">
              <div class="float-left">Task {{i+1}}: {{task.title}}</div>
              <div *ngIf="tasksVisibility[i]">
                <img src='assets/img/downArrow.png' class="arrow-image"/>
              </div>
              <div *ngIf="!tasksVisibility[i]">
                <img src='assets/img/downArrow.png' class="arrow-image rotate"/>
              </div>
            </button>
            <div *ngIf="tasksVisibility[i]">
              <div class="col-12">
                <div class="row">
                  <div class="col-10">
                    <h5>Description</h5>
                    <p>{{task.description}}</p>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-secondary">Notes</button>
                  </div>
                </div>

                <div *ngIf="submissions[i].submissionStatusType.toString() !== 'GRADED'">
                  <h4>Clone repository</h4>
                  <div class="repo-url">
                    <code>{{repoUrl}}</code>
                  </div>
                  <h4>Repository structure</h4>
                  <br>
                </div>

                <h5>Max points for task: {{task.maxPoints}}</h5>
                <h4>Status</h4>
                <div class="row" *ngIf="submissions[i].submissionStatusType.toString() === 'GRADED'">
                  <div class="col-md-2">
                    <h4><b>{{descriptionStatus(submissions[i].submissionStatusType)}}</b></h4>
                  </div>
                  <div class="col-md-10">
                    <button class="btn btn-secondary">Show review</button>
                  </div>
                </div>
                <div *ngIf="submissions[i].submissionStatusType.toString() !== 'GRADED'">
                  <h4><b>{{descriptionStatus(submissions[i].submissionStatusType)}}</b></h4>
                </div>
                <div *ngIf="submissions[i].submissionStatusType.toString() == 'GRADED'">
                  <h4><b>Points: {{submissions[i].points}}/{{tasks[i].maxPoints}}</b></h4>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-secondary" (click)="back($event)">Switch to teacher</button>
    </div>
  </div>

</div>


<router-outlet></router-outlet>
