<div *ngIf="route.children.length === 0" class="content-container">
  <div class="row">
    <div class="col-md-10">
      <h2>Assignment - {{assignment?.title}}</h2>
      <h4>{{course?.title}}</h4>

      <div class="line"></div>
      <br>

      <span>{{assignment?.dueDate}}</span>

      <h4>Description</h4>
      <p>{{assignment?.description}}</p>
    </div>
    <div class="col-md-2">
      <button routerLink="edit-assignment" class="btn btn-primary float-md-right" role="button">Edit assignment</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-secondary back-btn float-right" (click)="back($event)">Back</button>
    </div>
  </div>

</div>


<router-outlet></router-outlet>
