<div class="content-container">
  <h2>Add task</h2>

  <div class="line"></div>
  <br>

  <form [formGroup]="formGroup" (ngSubmit)="addTask(formGroup.value)">

    <!-- TODO delete this while connecting with assignments-->
    <div class="form-group col-md-12">
      <label for="task-assignmentId">Assignment ID</label>
      <input formControlName="assignmentId" type="text" class="form-control" id="task-assignmentId"
             placeholder="Enter assignmentID">
    </div>


    <div class="form-group col-md-12">
      <label for="task-title">Task title</label>
      <input formControlName="title" type="text" class="form-control" id="task-title" placeholder="Enter title">
    </div>
    <div class="form-group col-md-12">
      <label for="task-description">Description</label>
      <textarea formControlName="description" type="text" class="form-control" id="task-description"
                placeholder="Enter description"></textarea>
    </div>
    <div class="form-group col-md-2">
      <label for="task-weight">Weight for task</label>
      <div class="input-group">
        <input formControlName="weight" class="form-control" type="number" id="task-weight"
               placeholder="Enter weight for task" min="0">
      </div>
    </div>
    <div class="form-group col-md-2">
      <label for="task-maxPoints">Max points for task</label>
      <div class="input-group">
        <input formControlName="maxPoints" class="form-control" type="number" id="task-maxPoints"
               placeholder="Enter max points for task" min="0">
      </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Create" [disabled]="!formGroup.valid">
    <button class="btn btn-secondary back-btn" (click)="back($event)">Back</button>
  </form>
</div>
