<div class="col-md-12">
  <h1 (click)="navigateToCourse()">{{course?.title}}</h1>
</div>
<div *ngIf="route.children.length === 0" class="content-container">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-12">
          <h2>CourseEdition - {{courseEdition?.title}}</h2>
          <h6>{{courseEdition?.id}}/v{{courseEdition?.courseVersion.versionNumber}}/
            {{courseEdition?.startDate | date: 'dd MMMM yyyy'}} - {{ editionEndDate | date: 'dd MMMM yyyy' }}</h6>

          <div class="line"></div>
          <br>

          <h4>Submissions</h4>

          <div *ngFor="let lesson of lessons; let lessonIndex = index" [attr.data-index]="lessonIndex">
            <button class="btn lesson-button" (click)="swapShowLesson(lessonIndex)">
              <div class="float-left">{{lesson.title}}</div>

              <div class="float-right d-flex">
                <small class="lesson-date">{{ lessonTimeMap.get(lesson).startDate | date: 'dd MMMM yyyy'}} -
                  {{ lessonTimeMap.get(lesson).endDate | date: 'dd MMMM yyyy'}}</small>
                <div *ngIf="showLesson[lessonIndex]">
                  <img src='assets/img/downArrow.png' class="arrow-image"/>
                </div>
                <div *ngIf="!showLesson[lessonIndex]">
                  <img src='assets/img/downArrow.png' class="arrow-image rotate"/>
                </div>
              </div>
            </button>

            <div *ngIf="showLesson[lessonIndex]">
              <button class="btn in-table-button" (click)="navigateToLesson(lesson)">Go to lesson view</button>
              <button class="btn" (click)="openEditLessonDueDateModal(lesson)">Edit lesson due date</button>

              <div *ngFor="let task of courseMap.get(lesson)">
                <br>
                <h5 (click)="changeVisibilityForSubmissions(task)">{{task.title}}</h5>

                <table *ngIf="showTask.get(task)" class="table tasks-table">
                  <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Author</th>
                    <th scope="col">Submission time</th>
                    <th scope="col">Status</th>
                    <th>&nbsp;</th>
                    <th scope="col">Points</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let submission of submissionsMap.get(task); let submissionIndex = index"
                      [attr.data-index]="submissionIndex">
                    <td>{{submissionIndex+1}}</td>
                    <td>{{submission.userFullName}}</td>
                    <td>{{submission.submissionTime | date: 'dd MMMM yyyy'}}</td>
                    <td>{{descriptionStatus(submission)}}</td>
                    <td>
                      <img src="assets/img/{{submission.submissionStatusType.toString().toLowerCase()}}.png" class="submission-status-img"/>
                    </td>
                    <td *ngIf="isGraded(submission)">{{submission.points}}</td>
                    <td *ngIf="!isGraded(submission)">-</td>
                    <td>
                      <div class="dots" (click)="openSubmissionMenuModal(submission)"></div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <h3>People</h3>
      </div>
      <div class="row">
        <button id="students-list" class="btn btn-secondary people-button float-md-right" (click)="inviteStudents()">
          Students
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<cod-edit-lesson-due-date-modal></cod-edit-lesson-due-date-modal>
<cod-invite-students-modal></cod-invite-students-modal>
<cod-submission-menu-modal></cod-submission-menu-modal>
