@import "variables";

body {
  background-color: $bg-color;
}

.content-container {
  background-color: #fff;
  padding: 20px 15px 15px 15px;
  margin-bottom: 15px;
}

.line{
  border: 1.5px solid $bg-color;
}

.back-btn {
  margin-left: 5px;
}

.submission-menu-backdrop {
  opacity: 0 !important;
}

.submission-menu-modal .modal-dialog {
  width: 160px;
  position: relative;
}
