$bg-color: #3a404f;
$footer-bg-color: #272b33;
$white: #fff;
$black: #000;
$shadow-color: #6b707b;

$course-item-bg-color: #f8f8f8;
$course-item-hover-color: #fff;

$lesson-item-bg-color: #f8f8f8;
$lesson-item-hover-color: #fff;

