<div class="content-container">
  <h2>Edit task</h2>

  <div class="line"></div>
  <br>

  <form [formGroup]="formGroup" (ngSubmit)="updateTask(formGroup.value)">
    <div class="form-group">
      <label for="task-title">Task title</label>
      <input formControlName="title" type="text" class="form-control" id="task-title" placeholder="Enter title">
    </div>
    <div class="form-group">
      <label for="task-description">Description</label>
      <textarea formControlName="description" type="text" class="form-control" id="task-description"
                placeholder="Enter description"></textarea>
    </div>
    <div class="form-group">
      <label for="task-maxPoints">Max points for task</label>
      <div class="input-group">
        <input formControlName="maxPoints" class="form-control" type="number" id="task-maxPoints"
               placeholder="Enter max points for task" min="0">
      </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Save" [disabled]="!formGroup.valid">
    <button class="btn btn-secondary back-btn" (click)="back($event)">Back</button>

  </form>
</div>
