/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "common";

.my-backdrop {
  opacity: 0 !important;
}

.my-modal .modal-dialog {
  width: 160px;
  position: relative;
}
