<div *ngIf="route.children.length === 0" class="content-container course-container">
  <h2>My Courses</h2>

  <div class="line"></div>
  <br>

  <div class="row">
    <div class="col-12">
      Filter by title:
      <input [(ngModel)]="searchText" class="search-input" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="course-list">
        <li class="course-item card" *ngFor="let course of courses | courseWithCourseEditionFilter : searchText">
          <a class="card-body" [routerLink]="['/student', 'course-editions', course.courseEdition.id]">
            <div class="row">
              <div class="col-md-6">
                <h3>{{ course.course.title}}</h3>
                <h6>{{ course.courseEdition.title }}</h6>
                <h6>{{ course.courseEdition.startDate | date: 'dd LLLL yyyy'}} -
                  {{courseEndDates.get(course) | date: 'dd LLLL yyyy'}}</h6>
              </div>
              <div class="col-md-6" style="text-align: right">
                <div class="row">
                  <div class="col-md-5">
                    <h6>Submitted: {{course.submittedLessons}}/{{course.lessonsSize}}</h6>
                  </div>
                  <div class="col-md-7">
                    <ngb-progressbar type="info"
                                     [value]="course.submittedLessons * 100 / course.lessonsSize"></ngb-progressbar>
                    <ngb-progressbar *ngIf="course.allTasks === 0" type="info" [value]="100"></ngb-progressbar>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <h6>Graded: {{course.gradedLessons }}/{{course.lessonsSize}}</h6>
                  </div>
                  <div class="col-md-7">
                    <ngb-progressbar type="info"
                                     [value]="course.gradedLessons * 100 / course.lessonsSize"></ngb-progressbar>
                    <ngb-progressbar *ngIf="course.allTasks === 0" type="info" [value]="100"></ngb-progressbar>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
