.btn-primary {
  margin-right: 5px;
  width: 100%;
}

.btn-secondary {
  margin-bottom: 20px;
  width: 50%;
}

.btn-group {
  width: 100%;
}

.modal-body {
  margin-left: 50px;
  margin-right: 50px;
}

.modal-title {
  width: 100%;
  text-align: center;
}
