<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Register an account</h4>
  </div>
  <div class="modal-body">
    <p style="margin-bottom: 10px">How are you? :)</p>
    <form [formGroup]="formGroup" (ngSubmit)="signUp(formGroup.value)">
      <div class="form-group btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary" [class.active]="formGroup.controls.userRole.value === 'student'">
          <input formControlName="userRole" value="student" type="radio" name="userRole"
                 id="student-role" autocomplete="off"> Student
        </label>
        <label class="btn btn-secondary" [class.active]="formGroup.controls.userRole.value === 'teacher'">
          <input formControlName="userRole" value="teacher" type="radio" name="userRole"
                 id="teacher-role" autocomplete="off"> Teacher
        </label>
      </div>

      <div class="form-group">
        <label for="firstname">Firstname</label>
          <input formControlName="firstname" type="text" class="form-control"
               id="firstname" placeholder="Enter firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input formControlName="lastname" type="text" class="form-control"
               id="lastname" placeholder="Enter lastname">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input formControlName="email" type="text" class="form-control"
               id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control"
               id="password" placeholder="Enter password">
      </div>
      <div class="form-group">
        <label for="password-reapeat">Repeat password</label>
        <input formControlName="passwordRepeat" type="password" class="form-control"
               id="password-reapeat" placeholder="Repeat password">
      </div>
      <div class="alert alert-danger" *ngIf="formGroup.controls.passwordRepeat.errors?.MatchPassword">Password not match</div>

      <input type="submit" class="btn btn-primary" value="Register" [disabled]="!formGroup.valid">
    </form>
  </div>
</ng-template>
