<div class="content-container">
  <h2>Edit lesson</h2>

  <div class="line"></div>
  <br>

  <form [formGroup]="formGroup" (ngSubmit)="saveLesson(formGroup.value)">
    <div class="form-group">
      <label for="lesson-title">Lesson title*</label>
      <input formControlName="title" type="text" class="form-control"
             id="lesson-title" placeholder="Enter title">
    </div>

    <div class="form-group">
      <label for="lesson-time-days">Time in days*</label>
      <div class="input-group">
        <input formControlName="timeDays" class="form-control" type="number" id="lesson-time-days"
               placeholder="Enter time in days" min="0">
      </div>
    </div>

    <div class="form-group">
      <label for="lesson-description">Description</label>
      <textarea formControlName="description" type="text" class="form-control"
                id="lesson-description" placeholder="Enter description"></textarea>
    </div>

    <div class="form-group">
      <label for="lesson-weight">Weight of the lesson</label>
      <div class="input-group">
        <input formControlName="weight" class="form-control" type="number" id="lesson-weight"
               placeholder="Enter weight" min="0">
      </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Save" [disabled]="!formGroup.valid">
    <button class="btn btn-secondary back-btn" (click)="back($event)">Cancel</button>
  </form>

</div>
