.btn-primary {
  margin-bottom: 30px;
  width: 100%;
}

.btn-secondary {
  margin-bottom: 10px;
  width: 50%;
}

.btn-group {
  width: 100%;
}

.modal-body {
  margin-left: 10%;
  margin-right: 10%;
}

.modal-title {
  width: 100%;
  text-align: center;
}

.form-control-firstName {
  float: left;
  width: 49%;
  margin-right: 2%
}

.form-control-lastName {
  width: 49%;
}

p {
  margin-bottom: 15px;
}
