<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Register an account</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="register(formGroup.value)">
      <div class="form-group btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary" [class.active]="formGroup.controls.userRole.value === 'student'">
          <input formControlName="userRole" value="student" type="radio" name="userRole"
                 id="student-role" autocomplete="off"> Student
        </label>
        <label class="btn btn-secondary" [class.active]="formGroup.controls.userRole.value === 'teacher'">
          <input formControlName="userRole" value="teacher" type="radio" name="userRole"
                 id="teacher-role" autocomplete="off"> Teacher
        </label>
      </div>

      <div class="form-group">
        <input formControlName="firstname" type="text" class="form-control form-control-firstName" id="firstname" placeholder="First name">
        <input formControlName="lastname" type="text" class="form-control form-control-lastName" id="lastname" placeholder="Last name">
      </div>
      <div class="form-group">
        <input formControlName="email" type="text" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <input formControlName="passwordRepeat" type="password" class="form-control" id="password-reapeat"
               placeholder="Repeat password">
      </div>
      <div class="alert alert-danger" *ngIf="formGroup.controls.passwordRepeat.errors?.MatchPassword">
        Password not match
      </div>

      <input type="submit" class="btn btn-primary" value="Register" [disabled]="!formGroup.valid">
    </form>
  </div>
</ng-template>
